#cart {
    position: relative;
    width: 100%;
    max-width: 75px;

    .label {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        text-align: center;
        color: var(--white);
        background-color: var(--red);
        position: absolute;
        top: -.8rem;
        left: -.8rem;
        box-sizing: border-box;
        padding-top: 5px;
    }
}

#cartview {
    background: var(--black);
    border-left: .5rem solid var(--green);
    border-bottom: .5rem solid var(--green);
    color: var(--white);
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 70px;
    min-height: 100px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    transition: ease-in-out .4s;

    ul {
        list-style-type: none;
        padding: 0;

        li {
            width: 100%;
            display: flex;
            clear: both;
            padding-bottom: .5rem;
            border-bottom: 1px solid var(--green);
            margin-bottom: .5rem;
            transition: ease-in-out .7s;
        }
    }

    span {
        display: inline-block;
        box-sizing: border-box;
    }
    .title {
        width: calc(100% - 11rem);
    }
    .price {
        width: 2rem;
        color: var(--white);
        font-size: 1rem;
    }
    .quantity {
        display: flex;
        margin: 0 .5rem;

        button {
            font-size: 1.5rem;
            width: 2.5rem;
            text-align: center;
            padding: 0;
        }
        input {
            width: 2rem;
            font-size: 1rem;
            font-family: 'Rubik', sans-serif;
            text-align: center;
            padding: 0 .5rem;
        }
    }

    .delete {
        width: 2rem;
        height: 2rem;
        background: var(--red);
        border-radius: 50%;
        color: var(--white);
        text-align: center;
        padding-top: 5px;
    }
}